@import url("https://fonts.googleapis.com/css?family=Lato:400,900");

@import url("https://cdn.jsdelivr.net/prism/1.4.1/themes/prism.css");
@import url("https://cdn.jsdelivr.net/bootstrap/3.3.6/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/animatecss/3.5.1/animate.min.css");
@import url("https://cdn.jsdelivr.net/toastr/2.1.2/toastr.min.css");

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('http://wallpapercave.com/wp/2N8Zebr.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#root, .full-height{
  height:  700px;
}

.button {
  margin-left: 30px;
  margin-top: 7px;
}

.directions{
  margin-right: 30px
}
/*
.button:hover {
  background-color: green;
}
 */
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
